.promotion-card {
    border-radius: 8px;
    border: 1px solid #c3c3c3;
    box-shadow: 0 2px 7px 0 rgba(5, 5, 5, 0.15);
    display: flex;
    padding: 15px;
    align-items: flex-start;
    position: relative;
}

.promotion-card_img {
    max-width: 100px;
    margin-right: 20px;
}

.promotion-card_info {
    flex-grow: 1;
}

.promotion-card_title {
    font-size: 16px;
    color: #2C3E50;
}

.promotion-card_price {
    font-size: 26px;
    font-weight: 700;
    color: #3498DB;
}

.promotion-card_footer {
    display: flex;
    align-items: center;
}

.promotion-card_comments {
    font-size: 16px;
    color: #95A5A6;
    font-weight: 700;
    max-width: 345px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.promotion-card_comments-count {
    margin-left: auto;
    margin-right: 10px;
    color: #3498DB;
    background-color: unset;
    border: unset;
    cursor: pointer;
    white-space: nowrap;
}
.promotion-card_comments-count:hover {
    color: #2C3E50;
}

.promotion-card_edit_button {
    margin-left: 10px;
}

.promotion-card_delete_button {
    border: unset;
    background-color: unset;
    font-size: 18px;
    position: absolute;
    top: 8px;
    right: 8px;
}
