.promotion-form_group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.promotion-form_group label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #555;
}

.promotion-form_group input {
    border: 1px solid #aaa;
    border-radius: 8px;
    background-color: #fff;
    height: 36px;
    padding: 0 10px;
}

.promotion-form_botao {
    float: left ;
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #aaa;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    margin-left: 10px;
    color: #555
}

.promotion-form_botao:hover {
    border-color: black;
    color: black;
}

.promotion-list_carregamento, .promotion-list_efeito-carregamento {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}
