.promotion-form_group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.promotion-form_botao {
    float: left ;
    margin-right: 8px;
}

.promotion-list_carregamento, .promotion-list_efeito-carregamento {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}

